<body>
    <form method="post" action="">

        <div width="100%">
            
            Create Product

        </div>

        <ul>
            <li> Name:  <input type="text" id="name"  name="Name"> </li>
            <li> Price: <input type="text" id="price" name="Price" value="0"> </li>
            <li> Count: <input type="text" id="count" name="Count" value="0"> </li>
        </ul>


        <input type="submit" value="Create" /> 



    </form>
</body>
